body {
    min-height: 100%;
    min-height: -webkit-fill-available;
}
  
html {
    height: -webkit-fill-available;
}
  
main {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    height: -webkit-fill-available;
    max-height: 100%;

}

#report_side:hover{
    color: #979797;
}

.container-fluid {
    max-height: 100%;
    height: 100%;
}
.row {
    max-height: 100%;
}

.links a {
    text-decoration: none;
  }







