body {
    height: 100%;
    min-height: 100%;
}
  
html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100%;
}

.navbar{
    width:250px;
    height: 100%;
    position:fixed;
    
    transition: 0.4s;
    box-shadow: inset;
}
.navbar .nav-link {
    font-size: 1.25em;
}

/*.navbar .nav-link:active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
    background-color: #4e666a;
}*/

#sidebar{
    height: 100%;
}
.nav {
    border: none;
    height: auto;
    position: sticky;
}

.nav .nav-link {
    /*text-align: center;*/
    margin: auto;
    padding: 8px;
}

.nav .nav-link:active,
.nav .nav-link:focus,
.nav .nav-link:hover {
    background-color: #343a40;
    border: none;
}

#content{
    margin-left: 260px;
    padding: 50px;
    margin-right: 10px;
}

/*#searchSortContainer{
    float: right;
}*/

#editID {
    border:0;
    color: white;
    background-color: transparent;
    padding-left: 20px;
    font-size: 1.25em;
    color:black;
    font-weight:500;
}

/*
#inventoryHead{
    width: 100%;
    min-width: 800px;
    border: 1;
    border-radius: 1mm;
}*/

/*#filters{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 800px;
    float: left;
}*/

.table-wrapper{
    width: 100%;
    height:450px;
    overflow-y: scroll;
    display: block;
    border-bottom: solid;
}

.table-wrapper thead,th {
    position: sticky;

}

/*========================= accordion ========================== */
/*
 CSS for the main interaction
*/
.accordion > input[name="collapse"] {
    display: none;
    
    /*position: absolute;
    left: -100vw;*/
  }
  
  .accordion label,
  .accordion .content{
   max-width: 100%;
    margin: 0 auto;
   }
  
  
  .accordion .content {
    background: #fff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .accordion > input[name="collapse"]:checked ~ .content {
    max-height: 300px;
    transition: max-height 0.5s;
  }
  
  .accordion label {
    display: block;
   
  }
  
  
  /* For Desktop */
  @media only screen and (min-width: 620px){
  
  
  /*.accordion > input[name="collapse"]:checked ~ .content {
    height:fit-content;
  }*/
  
  }
  
  
  /*
  .accordion {
    margin-bottom: 1em;
  }*/
  
  .accordion > input[name="collapse"]:checked ~ .content {
    max-height: 1000px;
    border-top: 0;
    transition: max-height 1s;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 16px;
    
    
  }
  
  .accordion label {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight:500;
    padding: 10px;
    /*background: #252525;*/
    user-select: none;
    border-bottom: solid;
    
  }
  
  .accordion label:hover,
  .accordion label:focus {
    background: #d6d6d6;
  }
  
  .accordion .handle label:before {
    font-family: FontAwesome;
    content: "\f107";
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.4s;
    
  }
  
  .accordion > input[name="collapse"]:checked ~ .handle label:before {
      transform: rotate(180deg);
      transform-origin: center;
      transition: 0.4s;
  }
  
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  
  .accordion p:last-child {
    margin-bottom: 0;
  }
  .container{
      max-width: 620px;
      margin: 0 auto;
  }